@import "../../variables.scss";

.cube {
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  position: relative;
  outline: 1px solid transparent;
  //border: 1px solid white;
  cursor: pointer;
  /*Animation*/
  transition: all .3s linear;

  &_selected {
    outline: 1px solid #000000E5;
  }

  &:hover {
    outline: 1px solid #00000080;
  }

  &_stock {
    background: $gray-color;
  }

  &_low {
    background: $light-blue;
  }

  &_mid {
    background: $blue;
  }

  &_high {
    background: $dark-blue;
  }

  &_very-high {
    background: $deep-blue;
  }

}
